{% extends 'FilmHub/main.html'%}
about page
{% block content %}
<div style='text-align: center; margin-top: 25px'>
    <h2 style='display: inline'>¡Bienvenido a <h2 style='color: white; background-color: black; display: inline;'>Film</h2><h2 style='color: black; background-color: yellow; display: inline;'>Hub</h2><h2 style='display: inline;'>!</h2>
</div>

<div style='margin-top: 25px; margin-left: 10px'>
    <h3 style='width: 50%;'><b><u>Que somos?</u></b></h3>
</div>

<div style='margin-top: 25px; margin-left: 10px'>
    <h3>FilmHub es una franquicia de cines a nivel global, que se especializa en la presentación de películas en alta calidad y con salas con las comodidades que se merece.</h3>
</div>
{% endblock %}