{% extends 'FilmHub/main.html' %}
{% load static %}
{% block content %}
<div class="container h-100">
    <div class="row justify-content-around">
        <div class="col">
            <div class="card card-body">
                <form method="GET" action="" id="asientosForm">
                {% csrf_token %}
                
                <fieldset>
                    <legend>Elija los asientos</legend>
                    <div class="row justify-content-center">
                        <img height="300" src='{%static "img/pantasha.png" %}'>
                    </div>
                    {% for fila in filas %}
                    <div class="row justify-content-around">
                        <div class="col-auto">
                            <h1>{{fila}}:  </h1>
                        </div>
                        
                        {% for asiento in asientos %}
                            {% if asiento.fila == fila %}
                                {% if asiento in asientosReservados %}
                                    <div class="col" style="background-image:url('{% static '/img/butacareservada.png' %}');background-size: 100% 100%;text-align: center;color:white;margin:2px"><input onclick="calcularPrecio()"  type="checkbox" name="{{asiento.fila}}{{asiento.butaca}}" value="{{ asiento.pk}}" disabled>{{ asiento.butaca}}</div>
                                    
                                {% else %}
                                    <div class="col" style="background-image:url('{% static '/img/butaca.png' %}');background-size: 100% 100%;text-align: center;color:white;margin:2px"><input onclick="calcularPrecio()"  type="checkbox" id="asientos" name="{{asiento.fila}}{{asiento.butaca}}" value="{{ asiento.pk}}" >{{ asiento.butaca}}</div>
                                {% endif %}
                            {% endif %}
                            
                            

                        {% endfor %}
                        
                    

                    </div>
                    {% endfor %}
                    <br>
                    <h1  id="precio">total a pagar:$</h1>
                    <br>
                </fieldset>
                
                <br>
                <input class="btn login_btn" type="submit" value="Siguiente">
                </form>
                <script>
                    function calcularPrecio() {
                        
                   
                        var asientos = document.getElementsByTagName('input');
                        var precio = 0;
                            

                        for (var i=0, len=asientos.length; i<len; i++) {
                            if (asientos[i].getAttribute('type') == 'checkbox') {
                                if ( asientos[i].checked ) {
                                    precio += {{funcion.pelicula.precio_base}};
                                    
                                }
                            }
                        }
                        document.getElementById("precio").innerHTML = "total a pagar:$" +precio;
                        
                    }
                    
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}
