{% load static %}
{% url 'homeView' as home_url %}
{% url 'aboutView' as about_url %}
{% url 'registerView' as register_url %}
{% url 'loginView' as login_url %}
{% url 'logoutView' as logout_url %}
{% url 'profileView' as profile_url %}
{% url 'my_tickets' as tickets_url %}

<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homeView' %}">
        <img src="{% static '/img/FilmHub.png' %}" width="30" height="30" class="d-inline-block align-top" alt="logo" loading="lazy">
        FilmHub
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item{% if request.path == home_url %} active{%elif  request.path == home_client_url %} active {%endif%}">
                <a class="nav-link" href="{{home_url}}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if request.user.is_authenticated  %}
            <li class="nav-item {% if request.path == groups_url %} active {%endif%}">
                <a class="nav-link" href="{{tickets_url}}">Your tickets</a>
            </li>
            {% endif %}
            <li class="nav-item {% if request.path == about_url %} active {%endif%}">
                <a class="nav-link" href="{{about_url}}">About</a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Account</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    {% if request.user.is_authenticated %}
                    <a class="dropdown-item" href="{{ profile_url }}">Profile</a>
                    <a class="dropdown-item" href="{{logout_url}}">Logout</a>
                    {% else %}
                    <a class="dropdown-item" href="{{login_url}}">Login</a>
                    <a class="dropdown-item" href="{{register_url}}">Register</a>

                    {% endif %}
                </div>
            </li>
            
        </ul>
        {% if request.user.is_authenticated %}
        <span style="color:white;" class="hello-msg">Hello, {{request.user}} </span>
        

        
        {% endif %}
        
    </div>
</nav>